#timeline {
  background-color: #000;
  width: 77%;
  float: right;
  margin-right: 20px;
  padding: 10px;
  height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#timeline.section::-webkit-scrollbar {
  display: none;
}

/* Timeline wrapper */
.timeline {
  position: relative;
  max-width: 900px;
  margin: auto;
  /* Center on page */
  padding: 40px 0;

}

/* Vertical center line */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 50%;
  /* Center of container */
  margin-left: -2px;
  /* Half of width to truly center */
}

/* Timeline items */
.timeline-item {
  position: relative;
  width: 50%;
  padding: 20px 40px;
  box-sizing: border-box;
}

/* Connection dots */
.timeline-item::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: rgb(15, 14, 14);
  border: 3px solid #000;
  border-radius: 50%;
  top: 30px;
  z-index: 1;
}

/* Left side */
.timeline-item.left {
  left: 0;
}

.timeline-item.left::before {
  right: -9px;
  /* Position dot next to line */
}

/* Right side */
.timeline-item.right {
  left: 50%;
}

.timeline-item.right::before {
  left: -9px;
}

/* Timeline content boxes */
.timeline-content {
  background-color: #e1dede;
  padding: 15px;
  border-radius: 8px;
}

.timeline-content img {
  max-width: 100%;
  border-radius: 6px;
}


@media (max-width: 1200px) {
  #timeline {
    width: 100%;
    float: none;

  }
}

@media (max-width: 768px) {
  #timeline {
    width: 100%;
    margin: auto;
  }
}

@media (max-width: 500px) {
  #timeline {
    width: 100%;
    margin: auto;
  }
}

/* Timeline slide-in animation */
.timeline-item {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s cubic-bezier(.4, 0, .2, 1), transform 0.6s cubic-bezier(.4, 0, .2, 1);
}

.timeline-item.slide-in {
  opacity: 1;
  transform: translateY(0);
}